/* Basic */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: clamp(100%, 100%, 300%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;

  background-color: $pale-blue;
}
