.order {
  background-color: white;

  padding: 0;
  margin: 0;
  border: none;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  max-width: 500px;

  > img {
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-bottom: 1rem;
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
    padding: 1.5rem;
    font-size: larger;
    color: gray;

    width: 80%;
  }

  > div.summary {
    text-align: center;
    background-color: $very-pale-blue;

    width: 80%;
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
      font-size: 1rem;
      padding: 0;
      text-align: left;
    }

    p {
      padding: 0;
      text-align: left;
    }

    > div.details {
      padding-left: 2rem;
      width: 60%;
    }

    a {
      color: blue;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  button {
    padding: 1rem;
    width: 80%;
    font-weight: bold;
    font-size: 1.5rem;
  }

  button.ok {
    background-color: blue;
  }

  button.cancel {
    color: gray;
    transform: translateY(-2rem);
  }
}
