img {
  max-width: 100%;
  height: auto;
  object-fit: cover;

  border: 5px solid blue;
}

@media screen and (prefers-color-scheme: dark) {
  img {
    border: 5px solid red;
  }

  body {
    background-color: black;
    color: white;
  }
}

@media print {
  img {
    border: 5px solid green;
  }
}
