.score {
  @include background-gradient;

  padding: 2rem;

  div {
    text-align: center;
    padding-top: 1rem;
    margin-inline: auto;
  }

  h1 {
    text-align: center;
    color: white;
    opacity: 0.5;
    font-size: 1rem;
  }

  .score-points {
    width: 160px;
    height: 160px;
    margin-top: 1rem;
    border-radius: 50%;

    @include circle-gradient;

    .points {
      font-size: 3rem;
      color: white;
      font-weight: 900;
    }

    .of {
      opacity: 0.3;
    }

    .of::before {
      content: "of ";
    }
  }

  .score-text {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .score-details {
    color: white;
    opacity: 0.7;
    margin-inline: 2rem;
  }
}
