.profile-header {
  padding: 20px;

  h1 {
    color: $white;
    text-align: center;
    font-size: 1.5rem;
  }

  .location {
    color: $location;
    text-align: center;
    margin: 10px;
  }

  .info {
    color: $white;
    margin-top: 2rem;
    font-size: smaller;
  }
}
