.summary {
  padding: 2rem;

  h2 {
    color: $dark-gray-blue;
    text-align: left;
    font-weight: 600;
  }

  div {
    border-radius: 0.7rem;
    padding: 0.5rem;
    margin-block: 1rem;

    font-weight: bold;

    display: flex;
    justify-content: space-between;
    height: 3rem;
  }

  img {
    transform: translateY(0.3rem);
  }

  div > span {
    transform: translateY(0.3rem);
  }

  div > span::after {
    content: " / 100";
    color: gray;
  }

  .reaction {
    background-color: $bg-light-red;

    p > span {
      color: $light-red;
    }
  }

  .memory {
    background-color: $bg-orangey-yellow;

    p > span {
      color: $orangey-yellow;
    }
  }

  .verbal {
    background-color: $bg-green-teal;

    p > span {
      color: $green-teal;
    }
  }

  .visual {
    background-color: $bg-cobalt-blue;

    p > span {
      color: $cobalt-blue;
    }
  }
}
