/* Container */

.container {
  margin: 40px;
  max-width: 600px;
}

@media screen and (min-width: 800px) {
  .lower {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;

    .subscription {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 0;
      width: 50%;
    }

    .why {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 5px;
      width: 50%;
    }
  }
}
