/* Div 3 */
.why {
  background-color: var(--color-bg-3);
  padding: 40px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.why h3 {
  color: white;
  margin-bottom: 20px;
}

.why ul {
  list-style-type: none;
  color: white;
  font-size: smaller;
  line-height: 2;
}
